---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- include filter.html -%}
  
  {%- if site.posts.size > 0 -%}
    {% for cate in site.categories %}
    <p class="sort-title">{{ cate[0] }} ({{cate[1] | size}})</p>
    <ul class="one-sort">
      {% for post in cate[1] %}
      <li class="flex" style="margin-bottom: 4px;">
        <img class="url-dot" src="{{" /assets/url-right.svg"}}" alt="post.url">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}

  <p class="rss-subscribe">通过 <a href="{{ " /feed.xml" | relative_url }}"> RSS</a> 订阅！</p>
  {%- endif -%}

</div>