<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    <script>
      window.onload = function () {
        const back = document.querySelector('.back');
        const comment = document.querySelector('.comment');
        const giscus = document.querySelector('.giscus');
        const filterTime = document.querySelector('#filter-time');
        const filterCategory = document.querySelector('#filter-category');
        const pathname = window.location.pathname;

        mediumZoom && mediumZoom(document.querySelectorAll('.post-content img'))

        back && back.addEventListener('click', function () {
          // to root
          window.location.href = '/'
        });
        comment && comment.addEventListener('click', function () {
          giscus.scrollIntoView({
            behavior: 'smooth',
            block: 'start'
          });
        });
        
        if (pathname === '/') {
          filterTime.classList.add('active');
        } else if (pathname === '/categories') {
          filterCategory.classList.add('active');
        }

        if (pathname === '/about/') {
          const rectItemEl = document.querySelectorAll('.rect-item');
          const tipEl = document.querySelector('.svg-tip')
          tipEl.style.display = 'none'
          for (let i = 0; i < rectItemEl.length; i++) {
            const blogCount = rectItemEl[i].getAttribute('data-count')
            blogCount !== '0' && rectItemEl[i].addEventListener('mouseover', function (e) {
              const date = e.target.dataset.date
              const count = e.target.dataset.count
              const week = new Date(date).toLocaleString(
                'default', { weekday: 'long' }
              )
              const tipStr = `
                <div class="tip">
                  <div class="item">日期：${date}，${week.replace('星期', '周')}</div>
                  <div class="item">文章数：${count}</div>
                </div>
              `
              tipEl.style.top = e.screenY - 210 + 'px'
              tipEl.style.left = e.screenX - 65 + 'px'
              tipEl.style.display = 'inherit'
              tipEl.innerHTML = tipStr
            })
            blogCount !== '0' && rectItemEl[i].addEventListener('mouseout', function (e) {
              const tipEl = document.querySelector('.svg-tip')
              tipEl.style.display = 'none'
            })
            blogCount !== '0' && rectItemEl[i].addEventListener('click', function (e) {
              window.sessionStorage.setItem('filter-time', `d${e.target.dataset.date}`)
              window.location.href = `/`
            })
          }
        }
        if (pathname === '/') {
          const filterTime = window.sessionStorage.getItem('filter-time')
          if (filterTime) {
            const goEl = document.querySelector(`#${filterTime}`)
            goEl.style.color = 'red'
            goEl && goEl.scrollIntoView({
              behavior: 'smooth',
              block: 'start'
            });
            setTimeout(() => {
              goEl.style.color = 'inherit'
            }, 1500)
            window.sessionStorage.removeItem('filter-time')
          }
        }
      }
    </script>
  </body>

</html>
