<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    <script>
      window.onload = function () {
        const back = document.querySelector('.back');
        const comment = document.querySelector('.comment');
        const giscus = document.querySelector('.giscus');

        // filter btn
        const filterTime = document.querySelector('#filter-time');
        const filterCategory = document.querySelector('#filter-category');
        const pathname = window.location.pathname;

        mediumZoom && mediumZoom(document.querySelectorAll('img'))

        back && back.addEventListener('click', function () {
          window.history.back();
        });
        comment && comment.addEventListener('click', function () {
         // scroll into giscus
          giscus.scrollIntoView({
            behavior: 'smooth',
            block: 'start'
          });
        });
        
        // if path is / active filter time
        if (pathname === '/') {
          console.log('????')
          filterTime.classList.add('active');
        } else if (pathname === '/categories') {
          filterCategory.classList.add('active');
        }
      }
    </script>
  </body>

</html>
